name: Run modules-fe Test

on:
  pull_request:
    branches:
      - StorybookNpm

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "v20.10.0"

      - name: Install dependencies
        run: yarn install

      - name: Run test
        run: yarn build-storybook
